@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our library</h1>
    <br />
    <p>Navigate threw the nav bar to add shelves, books and libraries!</p>
    <p>Have fun!</p>

</div>
