@model MyLibrary.ViewModel.AddBook

@{
    ViewData["Title"] = "Create";
    var genres = ViewBag.Genres;
    var shelves = ViewBag.Shelves;
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
        @if (TempData["ErrorMessage"] != null)
        {
    <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
<div class="row">
    <div class="col-6">
        <form asp-action="Create">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="book.Name" class="control-label"></label>
                <input asp-for="book.Name" class="form-control" />
                <span asp-validation-for="book.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Width" class="control-label"></label>
                <input asp-for="book.Width" class="form-control" />
                <span asp-validation-for="book.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.Height" class="control-label"></label>
                <input asp-for="book.Height"  class="form-control" />
                <span asp-validation-for="book.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.ShelfId" class="control-label"></label>
                <select asp-for="book.ShelfId" class ="form-control" asp-items="ViewBag.ShelfId"></select>
            </div>
            <div class="form-group">
                <label asp-for="genre.Name" class="control-label"></label>
                <select asp-for="genre.Name" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>

            <div class="form-group">
                <input type="submit"  value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>

    <div class="col-6">
        <p>Here you can see the shelves of the libraries/geners</p>
        @foreach (var item in genres)
        {

            <h6>shelves of @item.Name:</h6>
            @foreach (var shelf in shelves)
            {
                @if (shelf.Library.Genre.Id == item.Id)
                {
                    <p>@shelf.Id</p>

                }
            }
        }
    </div>
</div>
@* @foreach (var item in ViewBag.Genre)
{
    <table class="table">
    <thead>
        <tr>
            <th>
                Genre
            </th>

    </thead>
   
} *@




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 
}
